<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Edit Todo</h1>
<form th:object="${todo}" th:action="@{'/todo/'+${todo.getId()}+'/edit'}" method="post">
    <label>Todo Desciption</label>
    <input type="text" th:field="*{title}" th:value="*{title}"><br>
    <label>Urgent</label>
    <input type="checkbox" name="urgentcheck" th:field="*{urgent}" th:value="*{urgent}"><br>
    <label>Done</label>
    <input type="checkbox" name="donecheck" th:field="*{done}" th:value="*{done}"><br>
    <button type="submit">Submit</button>
    <a href="/todo">Cancel</a>
</form>
<p>Assignees</p>
<select>
    <option th:each="asg : ${assignee}" th:text="${asg.getName()}"></option>
</select>
</body>
</html>