<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1 th:text="${todo.getTitle()}"></h1>
<table>
    <tr>
        <td>Id:</td>
        <td>Urgent:</td>
        <td>Done:</td>
    </tr>
    <tr>
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>i
        <td th:text="${todo}"></td>
    </tr>
</table>
</body>
</html>
