<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Todos for today:</h1>
<a href="/todo/add">Add new todo</a> <a href="/assignee">List of Assignees</a>
<form action="/search" method="post">
    <select name="select">
        <option value="title">title</option>
        <option value="content">content</option>
        <option value="description">description</option>
    </select>
    <input type="text" placeholder="Search.." name="search">
</form>
<table>
    <tr>
        <td>ID</td>
        <td>ACTION</td>
        <td>CONTENT</td>
        <td>DESCRIPTION</td>
        <td>URGENT</td>
        <td>DONE</td>
        <td>CREATED TIME</td>
        <td>ASSIGNEE</td>
        <td>DELETE</td>
        <td>EDIT</td>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td><a th:href="'todo/'+${todo.getId()}+'/'+${todo.getTitle()}" th:text="${todo.getTitle()}"></a></td>
        <td th:text="${todo.getContent()}"></td>
        <td th:text="${todo.getDescription()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.getCreatedDate()}"></td>
        <td th:if="${todo.getAssignee() != null}" ><a th:text="${todo.getAssignee().getName()}" th:href="'assignee/' + ${todo.getAssignee().getId()}+ '/' + ${todo.getAssignee().getName()}"></a></td>
        <td th:if="${todo.getAssignee() == null}" th:text="|No Assignee selected|"></td>
        <td><a th:href="'todo/'+${todo.getId()}+'/delete'">delete</a></td>
        <td><a th:href="'todo/'+${todo.getId()}+'/edit'">edit</a></td>
    </tr>
</table>
</body>
</html>