<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fox Club</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<ul>
    <li><a href="/information">Information</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<img src="/greenfox.png">
<!-- <p th:each="list : ${foxlist}" th:text="${list.getName()} +' '+ ${list.getDrink()} + ' ' + ${list.getFood()}"></p> -->
<div>
    <span th:if="${fox.get().getTricks().size() == 0}"
          th:text="'This is ' + ${fox.get().getName()} + '. Currently living on ' + ${fox.get().getFood()} + ' and ' + ${fox.get().getDrink()} + '. He knows zero tricks'"></span>
    <span th:unless="${fox.get().getTricks().size() == 0}"
          th:text="'This is ' + ${fox.get().getName()} + '. Currently living on ' + ${fox.get().getFood()} + ' and ' + ${fox.get().getDrink()} + '. He knows ' + ${fox.get().getTricks().size()} + ' tricks'"></span>
</div>
<p th:text="${foxlist}"></p>
<h1>Known tricks</h1>
<table>
    <tr th:each="trick : ${fox.get().getTricks()}">
    <td th:text="${trick}"></td>
    </tr>
</table>
</body>
</html>