html {
    font-family: Texta;
}

p {
    font-size: 18px;
    color: #2A2A2A;
    margin-bottom: 30px;
}

label {
    margin: 0px;
    font-size: 10px;
}

input {
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 5px;
    width: 200px;
}

input, label {
    display: block;
}

.passwordlink {
    font-size: 10px;
    color: #2A2A2A;
    text-decoration: none;
}

.username:focus {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 2px green;
}

submit {
    margin-top: 1000px;
    padding-top: 1000px;
}