<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1><a class="headh1" href="/index">My Shop </a></h1>
</header>
<hr>
<div class="menurow">
    <a class="menulinks" href="/only-available">ONLY AVAIBLE </a><a class="menulinks" href="/cheapest-first"> CHEAPEST FIRST </a><a
        class="menulinks" href="/contains-nike"> CONTAINS NIKE </a><a class="menulinks" href="/average-stock"> AVERAGE STOCK </a><a
        class="menulinks" href="/most-expensive"> MOST EXPENSIVE AVAIBLE </a>
</div>
<form class="searchbar" action="/search" method="post">
    <input type="text" placeholder="...something like that" name="search">
    <button type="submit" class="search-button">Search</button>
</form>
<p><span th:text="${average}"></span><span th:text="${mostexpensive}"></span></p>
<table th:if="${items}">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantitiy of stock</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getType()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()} + ' ' + ${moneysign}"></td>
        <td th:text="${item.getQuantityStock()}"></td>
    </tr>
</table>
</body>
</html>