<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p><a href="/index">My Shop </a></p>
<table>
    <tr><a href="/only-available">ONLY AVAIBLE </a><a href="/cheapest-first"> CHEAPEST FIRST </a><a
            href="/contains-nike"> CONTAINS NIKE </a><a href="/average-stock"> AVERAGE STOCK </a><a
            href="/most-expensive"> MOST EXPENSIVE AVAIBLE </a></tr>
</table>
<form class="searchbar" action="/search" method="post">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit" class="search-button"></button>
</form>
<p><span th:text="${average}"></span><span th:text="${mostexpensive}"></span></p>
<table>
    <tr>
        <th>Name</th>
        <td>Type</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantitiy of stock</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getType()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()} + ' ' + ${moneysign}"></td>
        <td th:text="${item.getQuantityStock()}"></td>
    </tr>
</table>
</body>
</html>