<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1><a href="/webshop">My Shop </a></h1>
<h1><a href="/more-filters">More>></a></h1>
<h1><a href="/optionalindex">INDEX>></a></h1>
<table>
    <tr><a href="/filter-by-type/clothesandshoes">CLOTHES AND SHOES </a><a href="/filter-by-type/electronics">
        ELECTONICS </a><a
            href="/filter-by-type/beveragesandsnacks"> BEVERAGES AND SNACKS </a><a href="/price-in-eur"> EURO </a><a
            href="/price-in-original"> ORIGINAL CURRENCY </a></tr>
</table>

<form class="searchbar" action="/filter-by-price" method="post">
    <button type="submit" class="search-button" name="searchButton" value="above">Above</button>
    <button type="submit" class="search-button" name="searchButton" value="below">Below</button>
    <button type="submit" class="search-button" name="searchButton" value="exactly">Exactly</button>
    <input type="number" placeholder="Search.." name="search">
</form>
<table>
    <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantitiy of stock</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getType()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()} + ' ' + ${moneysign}"></td>
        <td th:text="${item.getQuantityStock()}"></td>
    </tr>
</table>
</body>
</html>